
.sidebar{
    height: 70vmax;
    background-color: #e1f9f4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0vmax;
}
.logo h1 {
    color: teal;
}
.list {
    margin-top: -20vmax;
}

.list section {
    display: flex;
    align-items: center;
    gap: 1vmax;
    margin-bottom: 3vmax;
}

.list section h4 {
    position: relative;
    color: #aaaaaa;
    left: 5px;
    font-weight: lighter;
}

.special img {
    position: relative;
    right: 6px;
}
.special h4 {
   margin-left: -9px;
}