/* .PropertyDetail{

    height: 150vh;
   
  
    top: 30%;
    left: 45%;
    border-radius: 5px;

    background-color: #fff;
   
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 17vmax;
}




.leftSide{
    float: left;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px 20px 10px ;
}

.rightSide{
    float: left;
    display: flex;

    padding: 20px 10px 20px 10px ;
}
.previous button {
    width: 150px;
    height: 43px;
    background: #6AB4F8;
    box-shadow: 0px 10px 25px rgb(0 0 0 / 13%);
    border: none;
    border-radius: 500px;
    color:#FFFFFF;
    font-weight: 600;
    box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.saveContinue button {
    width: 150px;
    height: 43px;
    background: #4C57B6;
    box-shadow: 0px 10px 25px rgb(0 0 0 / 13%);
    border: none;
    border-radius: 500px;
    color:#FFFFFF;
    font-weight: 600;
    margin-top: 400px;
    box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    
} 


.saveContinue{
    padding-left: 19px;
} 

*/

.maincontainer {
    width: 100%;
    height: 100%;
    margin-top: 5vmax;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vmax;
    margin-top: 3vmax;
}

.selectBox{
    width: 25vmax;
    height: 2.5vmax;
    top: 428px;
    left: 421px;
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
  font-size: 18px;
   line-height: 23px;



color: #7D7D7D;
}

.rowdiff {
    margin-left: 21.5vmax;
    margin-top: 3vmax;
}

.newbutton button{
    
    width: 150px;
    height: 43px;
    background: #6AB4F8;
    box-shadow: 0px 10px 25px rgb(0 0 0 / 13%);
    border: none;
    border-radius: 207px;
    color:#FFFFFF;
    font-weight: 600;
    box-shadow: 5px 5px rgb(207, 225, 231);
    cursor: pointer;
}

.newbuttoncontainer {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vmax;
    gap: 2vmax;
}