
.home {
    width: 100vw;
    height: 100vh;
    display: flex;
}



.one {
    width: 17%;
    background-color: #e1f9f4;
}

.two {
    width: 80%;
    position: relative;
    height: 20vmax;
    bottom: 0;
}